# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [87]:
def lesser_of_two_evens(a,b):
    
    if   a%2==0 and b%2==0 :   #asking here if the first and 2nd number both even
        
        mini=min(a,b)             #giving me the minimum of them
            
        return "mini"               #print the minimum value
        
    else: 
        
        a%2!=0 or b%2!=0       #asking here if the first or 2nd number are even
        
        maxi=max(a,b)          #giving me the maximum of them 
        
        return "maxi"          #print the maximum valu
            
        
        
        
lesser_of_two_evens(2,4)

'mini'

In [88]:
# Check
lesser_of_two_evens(2,4)

'mini'

In [89]:
# Check
lesser_of_two_evens(2,5)

'maxi'

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [93]:
def animal_crackers(text):
    
    for i in text.split():
        
        s=text.split()                 # i split here to ask the next question for indexing
        
        if (i[0] in s[0]) == (i[0] in s[1]):   #asking if the first letter of the first word is equal the first letter of the 2nd word
            
            return "true"
            
        else:                                  #if not print flase
            
            return "false"

In [94]:

animal_crackers('Levelheaded Llama')

'true'

In [92]:
# Check
animal_crackers('Crazy Kangaroo')

'false'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [81]:
def makes_twenty(n1,n2):
    
    if n1+n2==20:                         #asking if n1 plus n2 will be 20
        
               return "true"
        
    elif n1==20 or n2==20:                #asking the 2nd condition if the first or the second numbers=20
            
               return "true"
        
    else:                                    #if the first 2 condition didnt happen then it's false
        
               return "false"

In [82]:
# Check
makes_twenty(20,10)

'true'

In [83]:
# Check
makes_twenty(2,3)

'false'

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [129]:
def old_macdonald(name):
    
    name_edit1=name.capitalize() 
    
    return name_edit1

    name=name_edit1[3].upper()
    
    return name

In [130]:
# Check
old_macdonald('macdonald')

'Macdonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [131]:
def almost_there(n):
    
    if n>=90 and n<=110: #asking if the n in range of 90-110
    
        return "True"

    elif n>=190 and n<=210: #asking if the n in range of 190-210
    
        return "true"

    else: 
    
        return "false"  #if the first 2 condition didnt appear it will give false since it's not in range

In [132]:
# Check
almost_there(104)

'True'

In [133]:
# Check
almost_there(150)

'false'

In [134]:
# Check
almost_there(209)

'true'

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
    
    
    pass

In [ ]:
# Check
has_33([1, 3, 3])

In [ ]:
# Check
has_33([1, 3, 1, 3])

In [ ]:
# Check
has_33([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    for i in text
    pass

In [ ]:
# Check
paper_doll('Hello')

In [ ]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [221]:
def blackjack(a,b,c):
    s1=a+b+c
    s=a+b+c
    
    if a+b+c<=21:
    
        return s

    if a+b+c>=21 and (a or b or c==11):
        
        return s1-10


    if a+b+c>=21:

        return "bust"

In [218]:
# Check
blackjack(5,6,7)

18

In [222]:
# Check
blackjack(9,9,9)

17

In [220]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    pass

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    

    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [214]:
def count_primes(num):
    
    list1=[*range(1,num+1)]#making a list from 0 till the number given from user
    
    counter_prime=0
    
    for i in list1: #making counter to count the prime numbers
        
        
        #counter_prime=0
    
    
        if (num%num==0 and num%1==0) and (num%i!=0 for i in range(2,num)): #trying to make the prime condition
        
            
            counter_prime+=1
            
       
    
     
    
    

    
            return counter_prime

In [216]:
# Check
count_primes(100)

1

## Great Job!